<h4>Detail PO</h4>
<div id="formPo">
<input type="text" name="namaPo" placeholder="Nama PO">
<input type="text" name="tujuan" placeholder="Tujuan">
<select class="form-control" id="tujuan" name="kelas" aria-placeholder="Pilih tujuan">
    <option>--</option>
    <option>Ekonomi</option>
    <option>Eksekutif</option>
<input type="text" name="jmlKursi" placeholder="Masukkan Jumlah Kursi">
<input type="text" name="harga" placeholder="Masukkan Harga">
<button onclick="uploadPo()" class="btn-primary">Submit</button>
</div>